@charset "UTF-8";

@font-face {
    font-family: Bonello;
    src: url(Bonello-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Playwrite+CU:wght@100..400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #421A1D;
    --cor2: #993C42;
    --cor3: #C24C53;
    --cor4: #EB5B65;
    --cor5: #FF9999;
    --fundo: #fffed2;
}

body {
    background-color: var(--fundo);
}

header {
    background-color: var(--cor4);
    padding: 40px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px var(--cor1);
}

header h1 {
    font-size: 5em;
    font-family: "Playwrite CU", cursive;
    font-style: normal;
}

nav {
    background-color: var(--cor4);
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cor3);
    text-decoration: underline;
    border-radius: 10px 10px 0px 0px;
}

main {
    background-color: #ffffff;
    margin: 10px 20px 10px 20px;

    border-radius: 10px;
    text-align: center;
    height: auto;
    min-width: 300px;
}

section h1 {
    font-family: "Playwrite CU", cursive;
    font-style: normal;
    color: var(--cor1);
    font-size: 2em;
    padding: 10px;
    text-shadow: 2px 2px 3px var(--cor2);
}

div.produtos {
    background-color: var(--cor5);
    border-radius: 1.5px; 
    padding: 7px; 
    margin: 4px; 
    font-size: 20px; 
    display: inline-block;

}

div#res {
    background-color: #4e00008f;
    border-radius: 0px;
    border: solid #4e00008f;
    padding: 20px;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    margin: 20px;
}

section strong {
    color: var(--cor1);
    text-shadow: 1px 2px 3px var(--cor1);
    text-decoration: underline 1px;
    cursor: pointer;
}

section strong:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}


footer {
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-style: italic;
}

@media (max-width: 300px) {
    header h1 {
        font-size: 6vw;
    }

    div.produtos {
        width: calc(100% - 1rem); /* Ajusta para telas menores */
    }

    nav a {
        display: block;
        margin: 0.5rem auto;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
    }

    header h1 {
        font-size: 8vw;
    }

    main {
        width: 95%;
    }

    footer {
        font-size: 0.875rem;
    }
}